@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@layer base {
    html {
        font-family: 'Nanum Gothic', sans-serif;
        transition: all 0.5s ease-in-out;
    }
}
.is-active::after {
    height: 100%;
}

.modal {
    display: none;
}
.modal.is-open {
    display: block;
}

.modal__container {
    width:100%;
    max-width: 475px;
    padding: 0 50px;
}

.swiper {
}
.swiper::-webkit-scrollbar {
}
.swiper-wrapper {
    align-items: center;
    gap:0;
    padding:0;
}

.swiper-wrapper .siwper-slide {
}
